.register-content{
    height: 100%;
    width: 100%;
    background:white;
    display: flex;
    flex-direction: column;
}

.navigate-login{
 padding-bottom: 10px;
}


.item-main-container{
    margin-top: 20px;
    /* --height: 60px; */
    padding-bottom: 10px;
    .inner-item-contatiner{
        padding-top: 10px;
    width: 100%;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    .input-for-number{
        padding-top: 10px;
    }
    .input-placeholder-number{
       
    }
    .input-for-number{
        background: linear-gradient(91.09deg, #E9E9E9 7.92%, #E6E6E6 93.59%);
        box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        display: flex;
        align-items: center;
        //background: pink;
        border-radius: 10px;
        width: 100%;
        padding: 2px;
        box-shadow: 0px 0px 5px 0px black;
        margin-top: 7px;
        .select-list-country-code{
            display: flex;
            align-items: center;
            justify-content: center;
            .logo{
                display: flex;
                align-items: center;
                justify-content: center;
                padding-left: 4px;
            }
            .country-code{
                padding-left: 4px;
            }
            
            .drop-down-icon{
                padding-left: 4px;
    display: flex;
    font-size: 1.2em;
            }
        }
    }
}
}

.margins-top-bottom{
    margin-top: 10px;
    margin-bottom: 10px;
}

.labels{
    font-size: 14px;
    font-weight: 500 !important;
}

.send-otp{
    ion-button{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        --border-radius: 30px;
        --background: linear-gradient(91.09deg, #E9E9E9 7.92%, #E6E6E6 93.59%);
        border-radius: 30px;
        color: #0091E2;
        letter-spacing: 1px;
    }
    
}

.input-placeholder-number{
    padding-left: 10px;
}


//////
.phone-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.country-code-and-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.country-code {
    padding-left: 3px;
    padding-right: 3px;
    color: #0085F5;
    font-weight: 400;
    font-size: 14px;
}
.number-input{
    margin-left: 4px;
    width: 100%;
}

.horizontal-line{
    height: 25px;
    width: 1px;
    background: orange;
    margin-left: 10px;
    margin-right: 10px;
    background: #C4C4C4;
}

ion-input{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 7px;
    --padding-start:0px !important;
}

.colored-ion-icon{
    font-size: 1.2em;
    color: #0085F5;
}

.labels{
    color: #0085F5;
    font-size: 18px;
}
.phone-number-label{
    padding-bottom: 3px;
}
.login-grid{
    flex-direction: column;
    align-items: flex-start !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

.item-style{
    display: flex;
    width: 100%;
    /* padding-right: 20px; */
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.date-of-birth-container{
    display: flex;
    flex-direction: column;
    flex: 1;
    .day-month-year{
        display: flex;
        ion-card{
            padding: 8px 10px 8px 10px;
            letter-spacing: 3px;
            margin: 10px;
            flex: 1;
            ion-label{
                display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #1F94F6;
            }
    }
    }
}
.make-custom-button{
    background: linear-gradient(135deg, #ABDCFF 0%, #0396FF 100%);
    box-shadow: 0px 4px 2px rgb(0 0 0 / 25%);
    border-radius: 30px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    ion-label{
        font-weight: 400;
        font-size: 20px;
        line-height: 172.63%;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 3.26px;
        text-indent: 10px;
        color: #EEEEEE;
    }
}