
<ion-content>
<ion-grid id="login-grid" class="h-v-centered login-grid">
  <!-----Phone---->
  <ion-row class="item-style">
    <ion-col size="12">
    <ion-item>
      <div class="phone-container">
      <div class="phone-number-label">
        <ion-label class="labels">Phone Number</ion-label>
      </div>
      <div class="country-code-and-number">
        <div class="flag-countrycode-dropdown h-v-centered">
        <div class="country-flag h-v-centered">
          <ion-icon name="flag-outline"></ion-icon>
        </div>
        <div class="country-code h-v-centered">
          <ion-label>+968</ion-label>
        </div>
        <div class="drop-down h-v-centered">
          <ion-icon class="colored-ion-icon" name="chevron-down-outline"></ion-icon>
        </div>
      </div>
      <div class="horizontal-line"></div>
        <div class="number-input">
          <ion-input (ionChange)="countNumber($event)" maxlength="8" inputmode="tel" placeholder="97099999" ></ion-input>
        </div>
       
      </div>
    </div>
    </ion-item>
  </ion-col>
  </ion-row>
   <!-----Phone---->


   <!---Date-->
  <ion-row class="item-style">
    <ion-col size="12 ">
    <ion-item lines="none">
      <div class="date-of-birth-container">
        <div class="date-of-birth-label">
          <ion-label class="labels">Date of Birth</ion-label>
        </div>
        <div class="day-month-year">
          <ion-card>
            <ion-label>DD</ion-label>
          </ion-card>
          <ion-card>
            <ion-label>MM</ion-label>
          </ion-card>
          <ion-card>
            <ion-label>YYYY</ion-label>
          </ion-card>
        </div>
      </div>
      
    </ion-item>
  </ion-col>
  </ion-row>
<!---Date-->

  <!--First Name-->
  <ion-row class="item-style">
    <ion-col size="12">
    <ion-item>
      <div class="phone-container">
      <div class="phone-number-label">
        <ion-label class="labels">First Name</ion-label>
      </div>
      <div class="country-code-and-number">
      
        <div class="number-input">
          <ion-input  maxlength="16" inputmode="text" placeholder="Muhammad" ></ion-input>
        </div>
       
      </div>
    </div>
    </ion-item>
  </ion-col>
  </ion-row>
  <!--First Name-->


  <!--Last name-->
  <ion-row class="item-style">
    <ion-col size="12">
    <ion-item>
      <div class="phone-container">
      <div class="phone-number-label">
        <ion-label class="labels">Last Name</ion-label>
      </div>
      <div class="country-code-and-number">
      
        <div class="number-input">
          <ion-input  maxlength="16" inputmode="text" placeholder="Muhammad" ></ion-input>
        </div>
       
      </div>
    </div>
    </ion-item>
  </ion-col>
  </ion-row>
  <!--Last name-->


  <!--Send OTP-->
  <ion-row class="item-style" (click)="navigateLogin()">
        <div class="make-custom-button">
          <ion-label>Send OTP</ion-label>
        </div>
  </ion-row>
   <!--Send OTP-->
</ion-grid>



</ion-content>