<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344369739141-b7s281h5uqhsl1gnd8mgjqn5ucc54s9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344369739141-b7s281h5uqhsl1gnd8mgjqn5ucc54s9u</string>
	<key>API_KEY</key>
	<string>AIzaSyCQW91c7vQ6HadHFryUwcsUfXGEm1toQ9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>344369739141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>d.mall.001</string>
	<key>PROJECT_ID</key>
	<string>dmall-361b7</string>
	<key>STORAGE_BUCKET</key>
	<string>dmall-361b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344369739141:ios:d554075359ba9a1b51c0ec</string>
</dict>
</plist>