<ion-header>
  <div class="main-container">
    <div class="header-ad-wraper">
      <div class="header-container">
        <div id="main-page-header" class="header-home-section">
          <div class="main-header-container">
            <div class="header-settings-container" (click)="headerEvent()">
              <div class="header-icon">
                <ion-icon 
                *ngIf="caller != 'home' "
                [src]="
                this.userData.language === 'en'
                  ? 'assets/icon/settings/back-ltr.svg'
                  : 'assets/icon/settings/back-rtl.svg'
              "></ion-icon>
              <ion-icon 
                *ngIf="caller === 'home' "
                [src]="
                this.userData.language === 'en'
                ? 'assets/icon/settings/ar.svg'
                : 'assets/icon/settings/en.svg'
              "></ion-icon>
              </div>
              <div class="header-settings-label">
                <ion-ripple-effect type="unbounded"></ion-ripple-effect>
              </div>
            </div>
            <div
              class="header-title-container"
              *ngIf="heading.has_main_heading"
            >
              <div class="header-title-main">
                <ion-label>{{
                  heading.main_heading_name | translate
                }}</ion-label>
              </div>
              <div class="header-title-name-label">
                <ion-label *ngIf="heading.has_sub_heading">
                  {{ heading.sub_heading_name | translate }}
                </ion-label>
              </div>
            </div>
            <div
              class="header-settings-container"
              (click)="translate()"
            >
              <div class="header-icon">
                <ion-icon
                  *ngIf="caller != 'home'"
                  [src]="
                    this.userData.language === 'en'
                      ? 'assets/icon/settings/ar.svg'
                      : 'assets/icon/settings/en.svg'
                  "
                ></ion-icon>
                <ion-icon
                  *ngIf="caller == 'home'"
                  src="../../../../assets/icon/notification.svg"
                ></ion-icon>
              </div>
              <div
                class="header-notification-label header-settings-label"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="item-container" class="item-container"></div>
  </div>
</ion-header>
