<div class="special-plan">
<ion-card>
  <ion-card-content>
    <div class="left-icon">
      <div class="icon-label">
        <ion-label>Gold</ion-label>
      </div>
    </div>
    <div class="mid-content-details">
      <ion-label class="label-mid">Special Duration: <span class="special-duration">{{days}}</span>  <span class="days"> Days</span> </ion-label>
      <ion-label class="label-mid">Add order:<span class="special-duration"> First</span></ion-label>
      <ion-label class="label-mid">Ad duration:<span class="ad-duration special-duration"> 60</span> <span class="days"> Days </span></ion-label>
    </div>
    <div class="right-price-tag h-v-centered">
      <div class="wraper">
      <ion-label>2 <span class="price-omr">OMR</span></ion-label>
    </div>
    </div>
  </ion-card-content>
  </ion-card>
</div>