ion-card{
    background: linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
    margin: 0 !important;
    margin-top: 18px !important;
    padding: 2% 1px;
    ion-card-content{
        padding: 10px !important;
        display: flex;
        align-items: center;
    .left-icon{
        width: 20%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icon-label{
            .item-label-color{
                color: black;
            }

            ion-label{
                font-size: 12px;
            }

            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: #F4DC6A;
            font-weight: 600;
        }
     
    }

    .mid-content-details{
        width: 60%;
        display: flex;
    flex-direction: column;
    color: white;
    .label-mid{
        letter-spacing: var(--dm-letter-spacing);
        font-size: 12px;
        padding-bottom: 5px;
        .special-duration{
            font-weight: 600;
        }

        .days{
            font-weight: 300;
            letter-spacing: var(--dm-letter-spacing);
            font-size: 9px;
        }
    }
    }
    .right-price-tag{
    //     width: 24%;
    // position: absolute;
    // height: 35%;
    // right: 10px;
    width: 24%;
    position: absolute;
    height: 71%;
    top: 18px;
    right: 10px;
    display: flex;
    flex-direction: column;
    .hook{
        font-weight: 600;
        font-size: 12px;
        color: #04C400;
        }
        .wraper{

            background: #7AE7FF;
            border-radius: 10px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            ion-label{
                color: #428EFF;
                display: flex;
                align-items: flex-end;
                justify-content: space-around;
                font-size: 11px;
            }
        }
    }
    }
}

.special-plan{
    margin-top: 10px;
}

.price-omr{
    font-size: 9px;
    letter-spacing: 0.5px;
}

.gold{
    background-color: #F4DC6A !important;
}
.bronze{
    background-color: #9B7054 !important;
}
.silver{
    background-color: #6C6966 !important;
}
.regular{
    background-color: white !important;
}
.selected{
    border: 5px solid #43C27E;
}