.input-container{
    display: flex;
    //border: 1px solid black;
    //border-radius:10px;
    //border-color: #27AF8E;
    //padding: 0 10px 5px 10px;
    .item-inner{
        --background: transparent;
        margin: 0;
    padding: 0;
    --padding-start: 0;
    --padding-end: 0;
    --inner-padding-start: 0;
    --inner-padding-end: 0;
    margin-right: 5px;
    ion-input{
        text-align: center;
        color: var(--dm-text-color);
        font-size: var(--dm-heading);
        font-weight: var(--dm-heading-weight);
    }
    }
}

.select-opt-container{
    border-top: 1px solid;
    border-left: 1px solid;
    border-bottom: 1px solid;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-color: var(--dm-border-color);
    padding: 0;
    position: relative;
    
}
.inner-container{
position: absolute;
top: -10px;
left: 14px;
background: #ffffff;
padding-left: 5px;
padding-right: 19px;
display: flex;
ion-label{
    padding-left: 5px;
padding-right: 5px;
font-size: var(--dm-heading);
font-weight: var(--dm-heading-weight);
letter-spacing: var(--dm-letter-spacing);
color: var(--dm-color);
}
}
.text-input-container{
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-color: var(--dm-border-color);
}

.item-container{
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.select-container{
    ion-icon{
        padding-left: 5px;
    padding-right: 1px;
    }

    ion-select{
        padding-left: 3px;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffc0cb00;
    height: 100%;
}

.name-input-container{
    //background: pink;
    
    border: 1px solid;
    border-radius: 10px;
    border-color: var(--dm-border-color);
    position: relative;
    .first-name-input{
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        //background: #ff35ff;
        flex-direction: row;
            .first-name-container{
                margin-left: 15%;
                //background: orange;
                flex: .6;
                border-bottom: 1px solid;
                border-width: 3px;
                color: #0063F8;
                ion-input{
         --padding-top: 5px !important; 
        --padding-end: 5px !important;
         --padding-bottom: 5px !important;
         --padding-start: 0 !important;
         font-size: var(--dm-heading);
         font-weight: var(--dm-heading-weight);
         letter-spacing: var(--dm-letter-spacing-2x) !important;
                }
        }
    }
}




.day-month-year{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    .day-month-year-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: 0.5;
        .day{
            flex: 1;
    /* justify-content: center; */
    display: flex;
    justify-content: space-around;
    font-size: var(--dm-heading);
    font-weight: var(--dm-heading-weight);
    color: var(--dm-text-color);
        }

        ion-button{
            width: 100%;
            margin: 0;
            --background: linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
            --border-radius: 14px;
            text-transform: lowercase;
            ion-label{
                font-size: var(--dm-heading);
                font-weight: var(--dm-heading-weight);
                letter-spacing: var(--dm-letter-spacing);

            }
        }
     
    }
}
ion-select{
    color: #00B0D7;
}

ion-button{
    margin: 0;
    width: 100%;
    text-transform: none;
    --background: linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
    --border-radius: 13px;
    height: 35px;
    letter-spacing: var(--dm-letter-spacing);
}