<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row class="item-container">
 
    <ion-col class="select-opt-container" size="3">
      <div class="select-container">
      <ion-select>
        <ion-select-option>+968</ion-select-option>
        <ion-select-option>+964</ion-select-option>
        <ion-select-option>+965</ion-select-option>
      </ion-select>
    </div>
    </ion-col>
    
    <ion-col class="text-input-container" size="9">
      <div class="input-container">
        
        <ion-item class="item-inner">
          <ion-input   #first (keyup)="gotoNextField(secnd,$event)" type="tel" maxlength="1" minlength="1">
          </ion-input>

      </ion-item>

      <ion-item  class="item-inner"> 
          <ion-input #secnd (keyup)="gotoNextField(third,$event)" required type="tel" max="1" maxlength="1" minlength="1"></ion-input>
      </ion-item>

      <ion-item  class="item-inner">
          <ion-input #third (keyup)="gotoNextField(fourth,$event)" required type="tel" max="1" maxlength="1" minlength="1"></ion-input>
      </ion-item>

      <ion-item class="item-inner">
          <ion-input #fourth (keyup)="gotoNextField(fifth,$event)" required type="tel" max="1" maxlength="1" minlength="1"></ion-input>
      </ion-item>

      <ion-item  class="item-inner">
          <ion-input (keyup)="gotoNextField(sixth,$event)" #fifth required type="tel" max="1" maxlength="1" minlength="1">
          </ion-input>
      </ion-item>

        <ion-item class="item-inner">
          <ion-input   #sixth (keyup)="gotoNextField(seven,$event)" type="tel" maxlength="1" minlength="1">
          </ion-input>

      </ion-item>

      <ion-item  class="item-inner">
          <ion-input #seven (keyup)="gotoNextField(eight,$event)" required type="tel" max="1" maxlength="1" minlength="1"></ion-input>
      </ion-item>

      <ion-item  class="item-inner">
          <ion-input #eight  required type="tel" max="1" maxlength="1" minlength="1"></ion-input>
      </ion-item>

      </div>
    </ion-col>
  
  </ion-row>
</ion-grid>
</ion-content>
