<ion-content>
  <div class="make-model">

    <ion-toolbar>
      <ion-searchbar class="location" (ionChange)="searchByName($event)" placeholder="Search Governorates & States" showCancelButton="focus"></ion-searchbar>
    </ion-toolbar>
    <ion-item lines="full" >
      <ion-checkbox [checked]="selectAll" mode="md" slot="start" (ionChange)="selectAllItems()"></ion-checkbox>
            <ion-label *ngIf="userData.language === 'en' ">{{"Select All"}}</ion-label>
            <ion-label *ngIf="userData.language === 'ar' ">{{"ستشمبسيب"}}</ion-label>
    </ion-item>
    <ion-accordion-group [multiple]="true" [value]="locationValue" *ngFor="let item of locations; let i=index">
      <ion-accordion value="first_{{i}}" *ngIf="item.show">
        <ion-item slot="header" lines="full">
          <mat-checkbox class="example-margin make-class"
          [checked]="item.completed"
          [color]="makeCheckboxColor"
          [indeterminate]="someComplete(i)"
          (change)="setAll($event.checked,i)">
            <ion-label *ngIf="userData.language === 'en' ">{{item.name.en}}</ion-label>
            <ion-label *ngIf="userData.language === 'ar' ">{{item.name.ar}}</ion-label>
        </mat-checkbox>
        </ion-item>
        
        <div class="ion-padding" slot="content">
          <ion-list slot="content" lines="none">
              <ion-item  slot="header" *ngFor="let state of item.states; let stateIndex=index">
                <ng-container *ngIf="item.show">
      <!----------------------------------------------MODELS ITEM STARTS---------------------------------------------------->
                <mat-checkbox class="example-margin make-class model-class"
                                  [color]="makeCheckboxColor"
                                  [checked]="state.completed"
                                  [(ngModel)]="state.completed"
                                  (change)="updateGovernrate(i,stateIndex)"
                                 >
                                 <ion-label *ngIf="userData.language === 'en' ">{{state.name.en}}</ion-label>
                                 <ion-label *ngIf="userData.language === 'ar' ">{{state.name.ar}}</ion-label>
                    </mat-checkbox>
      <!----------------------------------------------MODELS ITEM ENDS---------------------------------------------------->
               </ng-container>
              </ion-item>
      </ion-list>
          <!----------------------------------------------MAKE ITEM STARTS---------------------------------------------------->
<!----------------------------------------------MAKE ITEM ENDS---------------------------------------------------->
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>
