ion-list{
    ion-checkbox{
        --border-color: #00B5DD;
    }
    
    ion-label{
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        letter-spacing: 3px;
    }
  
  }
  .no-spacing{
    letter-spacing: 0px !important;
  }