<ion-content>
  <ion-list lines="none">
    <ion-item lines="full" >
      <ion-checkbox [checked]="selectAll" mode="md" slot="start" (ionChange)="selectAllItems()"></ion-checkbox>
            <ion-label *ngIf="userData.language === 'en' ">{{"Select All"}}</ion-label>
            <ion-label *ngIf="userData.language === 'ar' ">{{"ستشمبسيب"}}</ion-label>
    </ion-item>

    <ion-item lines="full" *ngFor="let item of modelYear; let i=index">
      <ion-checkbox [checked]="item.checked" mode="md" slot="start" (ionChange)="check(item,i)"></ion-checkbox>
      <ion-label *ngIf="userData.language === 'en' ">{{item.name.en}}</ion-label>
      <ion-label *ngIf="userData.language === 'ar' ">{{item.name.ar}}</ion-label>
    </ion-item>
   
    </ion-list>
</ion-content>
