<ion-content>
  <ion-toolbar>
  </ion-toolbar>
  <div class="country-code-list">
    <div class="country-code-inner-container" *ngIf="!searching">
      <div class="item" *ngFor="let item of countryCodeList" >
        <div class="item-inner" (click)="selectItem(item)">
          <div class="left">
            <ion-img [src]="item.icon"></ion-img>
          </div>
          <div class="left">{{item.dial_code}}</div>
          <div class="right">{{item.name}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>