.item-body-inner{
    background: conic-gradient(from 127deg at 0% 0%, #E8E7E7 0deg, #F4F4F4 360deg);
    border-radius: 5px;
    margin: 0;
    height: 100px;
}

ion-card{
    padding-top: 10px;
    .body-image{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
        }
    }
    .body-name{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-label{
         font-size: 3vw;;
    }
    }
}