ion-content{
    --background:white;
    .main-container-post-details{
        background: white;
        overflow: scroll;
    }
    ion-list{
        padding-top: 0px !important;
        ion-row{
            ion-col{
                display: flex;
                justify-content: center;
                align-items: center;

                
                ion-text{
                font-size: 12px;
            }
            .f-s-n{
                background: rgba(233, 232, 232, 0.4);
                padding: 0px 10px;
                border-radius: 5px;
                img{
                    padding-right: 4px;
                    font-size: 1em;
                }
            }
            }
        }
    }
}

.list-item{
    display: flex;
    flex: 1;
    background: rgba(233, 232, 232, 0.4);
    border-radius: 5px;
    padding: 5px 0 5px 0;
    .left-col{
        border-right: 1px solid #0000000a;
        color: #494949;
    }
    .icon-label-container{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        .icon{
            display: flex;
            justify-content: flex-start;
            align-items: center;
            //flex: .3;
            padding-right: 4%;
        }
        .label{
            flex: 1.1;
            justify-content: flex-start;
            align-items: center;
            display: flex;
        }
    }
}

ion-list-header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    .list-header-container{
        //background: pink;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        ion-label{
            padding: 3px 8px 3px 8px;
    border-bottom: 1px solid #0000000f;
    color: #0091E2;
        }
    }
}

.seller-notes{
    display: flex;
    flex: 1;
    padding: 5px;
    background: rgba(233, 232, 232, 0.4);
    border-radius: 5px;
    ion-label{
        padding: 3px;
        color: #494949;
    }
}

.item-value{
    display: flex !important;
    justify-content: flex-start !important;
    ion-label{
        padding-left: 5px;
        color: #494949 !important;
        font-weight: 600;
    }
}

.color{
    background: #DEDEDE !important;
}

.no-color{
    background: transparent !important;
}

.no-border{
    border: 0px !important;
}

.dm-value{
    font-size: var(--dm-value);
    letter-spacing: var(--dm-letter-spacing);
}
.dm-heading{
    font-size: var(--dm-heading);
    letter-spacing: var(--dm-letter-spacing);
    font-weight: var(--dm-heading-weight);
}

.person-info-row{
    background: rgba(233, 232, 232, 0.4);
    border-radius: 5px;
    .person-col{
        justify-content: flex-start !important;
        padding: 15px;
    }
    .contact-info{
        justify-content: flex-start !important;
        
        .contact-info-inner{
            flex-direction: column;
            display: flex;
            
        }
    }
    .person-icon{
        height: 80px;
        width: 80px;
        background: rgba(132, 132, 132, 0.4);
        border-radius: 100px;
        border: 2px solid;
        border-color: var(--dm-image-border-color);
      
    }
}