

<ion-content #content scrollY="false">  

    <app-header [heading]="heading"
    [icons]="icons"
    goBack="true"
   ></app-header>

   <div class="main-container-post-details">

    <ion-list>
       <div class="item-container">
           <div class="container-image">
          <ion-img src="assets/images/New-Car-Launches-In-January-2021-1000x600.jpeg"></ion-img>
        </div>

        <!--
            nav bar for 
            favorite
            share
            notes
            notify
        -->
        <div class="fsnn-container">

        <ion-row>
            <ion-col (click)="fav()">
                <div class="h-v-centered f-s-n">
                    <img src="assets/icon/posts/post-details/fav.svg"/>
                    <ion-text>Favorite</ion-text>
                </div>
            </ion-col>

            <ion-col (click)="share()">
                <div class="h-v-centered f-s-n">
                    <img src="assets/icon/posts/post-details/share.svg"/>
                    <ion-text>Share</ion-text>
                </div>
            </ion-col>

            <ion-col (click)="notes()">
                <div class="h-v-centered f-s-n">
                    <img src="assets/icon/posts/post-details/notify.svg"/>
                    <ion-text>Notes</ion-text>
                </div>
            </ion-col>

            <ion-col (click)="notify()">
                <div class="h-v-centered f-s-n">
                    <img src="assets/icon/posts/post-details/notify.svg"/>
                    <ion-text>Notify</ion-text>
                </div>
            </ion-col>
        </ion-row>
        
    </div>




        </div>
    </ion-list>


    <ion-list>
        <ion-grid>
            <ion-row>
            <ion-col size="12" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1]; let i=index">
                <div class="list-item" [ngClass]="{'list-item': true, 'color': i%2==0 }">
                <ion-col size="6" class="left-col">
                <div class="icon-label-container">

                    <div class="icon">
                    <ion-icon name="flower-outline"></ion-icon>
                </div>

                <div class="label">
                    <ion-label>Condition</ion-label>
                </div>

                </div>
                </ion-col>
                <ion-col class="item-value" size="6">
                    <ion-label>New</ion-label>
                </ion-col>
            </div>
            </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>


    <ion-list>
        <ion-list-header>
            <div class="list-header-container">
            <ion-label>Vehicle Features</ion-label>
        </div>
            </ion-list-header>
        <ion-grid>
            <ion-row>
            <ion-col  size="6" *ngFor="let item of [1,1,1,1,1,1,1,1,1,1]">
                <div class="list-item" [ngClass]="{'list-item': true,'no-color':true}">
                <ion-col size="12" class="left-col no-border">
                <div class="icon-label-container">

                    <div class="icon">
                    <ion-icon name="flower-outline"></ion-icon>
                </div>

                <div class="label">
                    <ion-label>Blind spot monitor</ion-label>
                </div>

                </div>
                </ion-col>
            </div>
            </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>


    <ion-list>
        <ion-list-header>
            <div class="list-header-container">
            <ion-label>Seller Notes</ion-label>
        </div>
            </ion-list-header>

            <ion-row>
                <ion-col>
                    <div class="seller-notes">
                        <ion-label>Great condition, dealership smell, 
                            new tires.</ion-label>
                    </div>
                </ion-col>
            </ion-row>
    </ion-list>
   </div>
</ion-content>
