<ion-content>
  <div class="item-body">
    <ion-grid>
      <ion-row>

        <!---SELECT ALL-->
        <ion-col (click)="selectAllItem()" size="6">
          <div class="check-mark" *ngIf="checked">
            <ion-icon class="checkmark-sharp" name="checkmark-sharp"></ion-icon>
          </div>
          <ion-card  [ngClass]="{selected_border : checked, default: checked==false}" class="item-body-inner">
          
           <ion-card class="default-color-card" style="background:url(assets/icon/colors-all.svg)" >
           </ion-card>
           <ion-label *ngIf="userData.language === 'en' ">{{"Select All"}}</ion-label>
            <ion-label *ngIf="userData.language === 'ar' "></ion-label>
          </ion-card>
        </ion-col>
        <!---SELECT ALL-->
        <ion-col (click)="check(item,i)" size="6" *ngFor="let item of exteriorColors; let i = index;">
          <div class="check-mark" *ngIf="item.checked">
            <ion-icon class="checkmark-sharp" name="checkmark-sharp"></ion-icon>
          </div>
          <ion-card  [ngClass]="{selected_border : item.checked, default: item.checked==false}" class="item-body-inner">
          
           <ion-card class="default-color-card" [ngStyle]="{'background':item.cssHex.toString()}" [ngClass]="item.class">
           </ion-card>
           <ion-label *ngIf="userData.language === 'en' ">{{item.name.en}}</ion-label>
            <ion-label *ngIf="userData.language === 'ar' ">{{item.name.ar}}</ion-label>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>