.item-body-inner{
    position: relative;
    background: conic-gradient(from 127deg at 0% 0%, #E8E7E7 0deg, #F4F4F4 360deg);
    border-radius: 5px;
    margin: 0;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ion-card{
   // padding-top: 10px;
    .body-image{
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            height: 100%;
        }
    }
    .body-name{
    display: flex;
    justify-content: center;
    align-items: center;
    ion-label{
         font-size: 3vw;;
    }
    }
}

.check-mark{
   .checkmark-sharp{
    color: white;
   }
    height: 20px;
    width: 20px;
    background: linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
    position: absolute;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.selected_border{
    border:1px solid #00B5DD;
}

.default-color-card{

    margin: 0;
    height: 65%;
    width: 65%;
}

ion-card{
    background-repeat: no-repeat !important;
}