
<div class="slides">
<ion-slides class="ad-section">

  <ion-slide id="ad-banner-height" class="add-banner-height">
    <div class="title-text-container">
      <div class="title-container">
        <ion-label>{{"Want to advertise here"  | translate}}</ion-label>
      </div>
      <div class="subtitle-container">
        <ion-label>{{"Book your advertising space now!"  | translate}}</ion-label>
      </div>
    </div>
    <div class="icon-container">
    <ion-icon src="assets/icon/ad-icons/coin-in-hand 1.svg"></ion-icon>
    </div>
    </ion-slide>

    <ion-slide id="ad-banner-height" class="add-banner-height">
      <div class="title-text-container">
        <div class="title-container">
          <ion-label>{{"Want to advertise here"  | translate}}</ion-label>
        </div>
        <div class="subtitle-container">
          <ion-label>{{"Book your advertising space now!"  | translate}}</ion-label>
        </div>
      </div>
      <div class="icon-container">
      <ion-icon src="assets/icon/ad-icons/coin-in-hand 1.svg"></ion-icon>
      </div>
      </ion-slide>


      <ion-slide id="ad-banner-height" class="add-banner-height">
        <div class="title-text-container">
          <div class="title-container">
            <ion-label>{{"Want to advertise here"  | translate}}</ion-label>
          </div>
          <div class="subtitle-container">
            <ion-label>{{"Book your advertising space now!"  | translate}}</ion-label>
          </div>
        </div>
        <div class="icon-container">
        <ion-icon src="assets/icon/ad-icons/coin-in-hand 1.svg"></ion-icon>
        </div>
        </ion-slide>

</ion-slides>

<div class="slide-bars">

  <div class="items selected"></div>
  <div class="items not-selected"></div>
  <div class="items not-selected"></div>
  <div class="items not-selected"></div>

</div>
</div>