



  .price {
    font-size: 17px !important;
    font-weight: 600;
  }

  ion-list{
      padding-top: 50px;
  }

  .top-heading{
    position: fixed;
    width: 100%;
    z-index: 1000;
  }

  .ripple-parent {
    position: relative;
    overflow: hidden;
  }