
<app-header [icons]="icons" [heading]="heading" [forwardTo]="settingsRoute"></app-header>

<ion-content>
    <app-main-item [items]="this.items" [size]="4"></app-main-item>
</ion-content>


<!----


  <app-header [heading]="heading"
[icons]="icons"
goBack="false"
></app-header>
<ion-content [fullscreen]="false">

  <app-filter-heading></app-filter-heading>
  <app-post-item-skeleton *ngIf="items.length == 0"></app-post-item-skeleton>  

  <ion-list *ngIf="items.length != 0">
  <app-inventory-item 
   [items]="items"></app-inventory-item>
  </ion-list>
</ion-content>

  
  ---->