<app-header [heading]="heading"
             [icons]="icons"
            goBack="false"
            ></app-header>

<ion-content>

      <!---
    <ion-slides  #slides (ionSlideDidChange)="slideChanged($event)" >
            <ion-slide>
            <app-register (registerEvent)="navigateToLogin(1)" class="full-content"></app-register>
      </ion-slide>

      <ion-slide>
            <app-login class="full-content" (loginEvent)="navigateToRegister(0)" ></app-login>
      </ion-slide>
      </ion-slides>
      --->


      <canvas id="canvas" width="20" height="20"></canvas>


</ion-content>
