<!--top heading-->
<div class="top-heading">
  <ion-toolbar>
    <ion-buttons>

      <ion-button class="buttons-default" (click)="showFilters()">
        <div class="button-name-and-logo-container">
          <div class="button-logo h-v-centered">
            <ion-icon class="sub-heading-icon" name="filter-circle-outline"></ion-icon>
          </div>
          <div class="button-name h-v-centered">
            <ion-label class="sub-heading ">Filter</ion-label>
          </div>
        </div>
      </ion-button>

      <ion-button class="bordered buttons-default">
        <div class="button-name-and-logo-container">
          <div class="button-logo h-v-centered">
            <ion-icon class="sub-heading-icon" name="bookmark-outline"></ion-icon>
          </div>
          <div class="button-name h-v-centered">
            <ion-label class="sub-heading">Save Search</ion-label>
          </div>
        </div>
      </ion-button>


      <ion-button class="buttons-default"  (click)="openSheetmodel()">
        <div class="button-name-and-logo-container">
          <div class="button-logo h-v-centered">
            <ion-icon class="sub-heading-icon" name="chevron-down-outline"></ion-icon>
          </div>
          <div class="button-name h-v-centered">
            <ion-label class="sub-heading">Date</ion-label>
          </div>
        </div>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</div>
<!--top heading-->