<ion-toolbar>
  <ion-searchbar placeholder="make model trim" showCancelButton="focus"></ion-searchbar>
</ion-toolbar>
 
  <ion-accordion-group multiple="true" value="colors">
    <ion-accordion  *ngFor="let item of items;let i=index">
      <ion-item slot="header">
  <!----------------------------------------------MAKE ITEM STARTS---------------------------------------------------->
        <mat-checkbox class="example-margin make-class"
                          [checked]="item.completed"
                          [color]="makeCheckboxColor"
                          [indeterminate]="someComplete(i)"
                          (change)="setAll($event.checked,i)">
                          <ion-label>{{item.make.name}}</ion-label>
            </mat-checkbox>
            
  <!----------------------------------------------MAKE ITEM ENDS---------------------------------------------------->
      </ion-item>
      <ion-list slot="content">
        
        <ion-accordion-group multiple="true" value="models">
        <ion-accordion *ngFor="let model of item.make.model; let modelIndex=index">
          <ion-item slot="header">
  <!----------------------------------------------MODELS ITEM STARTS---------------------------------------------------->
            <mat-checkbox class="example-margin make-class model-class"
                              [color]="modelCheckboxColor"
                              [checked]="model.completed"
                              [(ngModel)]="model.completed"
                              [indeterminate]="ModelsomeComplete(i,modelIndex,model)"
                              (ngModelChange)="updateAllComplete(i)"
                              (change)="setModelAllTrims($event.checked,i,modelIndex,model)" 
                              >
                              <ion-label class="model-label">{{model.name}}</ion-label>
                </mat-checkbox>
  <!----------------------------------------------MODELS ITEM ENDS---------------------------------------------------->
          </ion-item>
      
          <ion-list slot="content">
            <section class="example-section">
  
              <span class="example-list-section">
                
              </span>
              <span class="example-list-section">
  <!----------------------------------------------TRIMS ITEM STARTS---------------------------------------------------->              
                  <ion-item *ngFor="let trims of model.trim; let trimIndex=index" >
                    <mat-checkbox class="example-margin make-class trim-class"
                                  [color]="trimCheckboxColor"
                                  [(ngModel)]="trims.completed"
                                  [checked]="trims.completed"
                                  (change)="updateMake(i,modelIndex,trimIndex)"
                                  (ngModelChange)="updateAllModelComplete(i,modelIndex,trimIndex)">
                      <ion-label class="trims-label">{{trims.name}}</ion-label>
                    </mat-checkbox>
                  </ion-item>
  <!----------------------------------------------TRIMS ITEM ENDS---------------------------------------------------->
              </span>
            </section>
      
          </ion-list>
        </ion-accordion>
      </ion-accordion-group>
      </ion-list>
    </ion-accordion>
  
  
  </ion-accordion-group>
  