<div class="special-plans">
<ion-segment [value]="days" (ionChange)="segmentChanged($event)">

  <ion-segment-button value="7">
    <ion-label>7 Days</ion-label>
  </ion-segment-button>

  <ion-segment-button value="14">
    <ion-label>14 Days</ion-label>
  </ion-segment-button>

  <ion-segment-button value="21">
    <ion-label>21 Days</ion-label>
  </ion-segment-button>

  <ion-segment-button value="30">
    <ion-label>30 Days</ion-label>
  </ion-segment-button>
</ion-segment>

<app-special-plan-item [days]="days" [adOrder]="adOrder" [adDuration]="adDuration" [price]="price" [name]="name" [color]="color"></app-special-plan-item>
</div>