
<div id="car-price" class="car-price">
  <div class="inner-container">
    <div class="left">
      <div class="max-price-container">
        <div class="label-container">
          <ion-label>Max Price</ion-label>
        </div>
        <div class="input-container">
          <ion-input maxlength="3" dir="rtl">000,</ion-input>
          <ion-label>OMR</ion-label>
        </div>
      </div>
      <div class="min-price-container">
        <div class="label-container">
          <ion-label>Min Price</ion-label>
        </div>  
        <div class="input-container">
          <ion-input maxlength="3" dir="rtl">000,</ion-input>
          <ion-label>OMR</ion-label>
        </div>
      </div>
    </div>
    <div class="right">
      <ngx-slider [(value)]="value" [options]="options"></ngx-slider>
    </div>
  </div>
</div>
