.headerContainer {
    background-color: white;
    height: 15%;
    //background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .innerContainer{
      height: 70%;
      //background: pink;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .leftArrow{
        //background: orange;
        height: 90%;
        width: auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 2em;
        color: #2B68A0;
      }
      .searchContainer{
        height: 90%;
        width: 80%;
        background: #F7F7F7;
        display: flex;
      flex-direction: row;
      align-items: center;
      border-radius: 4px;
      .searchIcon{
        //background: purple;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 10%;
        font-size: 1.2em;
        color: #454545;
      }
      }
      .more{
        height: 90%;
        width: auto;
        //background: orange;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
      }
    }
  }
  .navContainer{
    background-color: white;
    height: 13%;
    //background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    .navInnerContainer{
     // background: orange;
     width: 80%;
     height: 90%;
     display: flex;
     align-items: center;
     justify-content: space-between;
      .iconDesign{
        height: 90%;
        width: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
      }
    }
  }
  .companyList{
    background-color: white;
    height: 72%;
    //background: #865961;
  .companyheader{
      img{
          height: 100%;
          width: 100%;
      }
    height:120px;
    position: relative;
    background: linear-gradient(
180deg
, #656565, #0000001a);
    //background: url(../../../../assets/natalia-y-DIewyzpUbRc-unsplash.jpg);
    .companyIcon{
      padding: 5px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80px;
      background: #C7C8CA;
      width: 80px;
      position: absolute;
      left: 5%;
      top: 60%;
      border-radius: 15px;
      /* border: crimson; */
      border: 3px solid white;
      .camera{
        height: 25px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25px;
        border-radius: 100px;
        position: absolute;
        bottom: 0%;
        right: -2px;
        box-shadow: 0px 0px 3px 1px #b2b2b2;
      }
      .default-icon{
          font-size: 3em;
          color: #0091E2;
      }
    }
    .cameraIcon{
      height: 30px;
      width: 30px;
      background: white;
      position: absolute;
      right: 5%;
      bottom: 10%;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2em;
    }
  }
  .companyFooter{
    padding: 20px 0 10px 0;
    border-bottom: 1px solid;
    border-color: #e8e8e8;
  }
  }
  .companyFooter{
    background-color: white;
    .pencil{
      
      height: 20%;
      //background: pink;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-right: 3px;
     .editing-icon {
       padding-right: 5px;
     }

      .three-dots{
        font-size: .8em !important;
      }
    }
    .heading{

      font-size: 18px;
      padding-bottom: 5px;
      //background: red;
      display: flex;
      align-items: center;
      ion-label{
        margin-left: 20px;
        font-weight: 500;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
      }
      ion-icon{
        margin-left: 10px;
      }
    }
    .status{
      //background: pink;
      display: flex;
      align-items: center;
      font-size: 14px;
      padding-bottom: 5px;
      ion-label{
        margin-left: 20px;
      }
    }
    .rate{
      display: flex;
      height: 19%;
      align-items: flex-end;
      .hiringRate{
      display: flex;
      font-size: 12px;
      justify-content: flex-start;
      align-items: center;
      margin-left: 20px;
      ion-label{
        .user-star{
            color: #C7C8CA;
        }

        display: flex;
        justify-content: center;
        align-items: center;
        p{
          margin: 0;
          margin-left: 10px;
          color: black;
        }
        ion-icon{
          margin-right: 3px;
        }
      }
      .ratepercent{
        margin-left: 3px;
      }
      .starRate{
        margin-left: 5px;
      }
      }
      .labelRate{
        font-size: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
        color: #2B68A0;
        .nameRec{
          font-weight:300;
          color:#000000 !important;
          padding-right: 10px;
        }
        .isTop{

        }
        .worldwide{
          padding-left: 6px;
          font-weight:300;
          color:#000000 !important;
        }


      }
      .dot{
        display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      }
    }

  }

  #secHalfOfScreen{
    //height: 350px;
  }

  .searchInput{
    padding-left: 10px;
  }

  .main-skeleton-container{
    height: 240px;
    .custom-skeleton {
      height: 100%;
      .first-skeleton{
        width: 60%;
        height: 10%;
      }
      .sec-skeleton{
        height: 50%;
      }
      .third-skeleton{
        width: 88%;
        height: 10%;
      }
      .fourth-skeleton{
        width: 70%;
        height: 10%;
      }
      .fifth-skeleton{
        height: 10%;
        width: 60%;
      }
    }
  }

  .icon-change{
    font-size: 9px;
  }

  .company-profile{
    padding: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: white;
    opacity: .9;
  }