<app-header [heading]="heading"
goBack="true"
></app-header>

<ion-content>

  <!----Header-->
  <div id="secHalfOfScreen">
    <div class="companyList">
      <div  class="companyIcon">
        <div class="company-profile" (click)="takeImage('profile')">
          <ion-icon name="cloud-upload-outline"></ion-icon>
        </div>
        <img *ngIf="!hasCompanyLogo" src="../../../assets/icon/donald-trump.png"/>
        <img class="real-image" *ngIf="hasCompanyLogo" [src]="this.senitizer.bypassSecurityTrustResourceUrl(companyLogo)"/>
        </div>
      <div class="companyheader" >

                  
          <div *ngIf="!hasCompanyCover;then defaultImage else uploadedImage"></div>
          <ng-template #defaultImage> <img src="assets/Gust_Profile_CoverPhoto_Blank-21edf1e2890708d5a507204f49afc10b7dc58eb7baea100b68a1bc2c96948297.png"/></ng-template>
          <ng-template #uploadedImage> <img class="real-cover" [src]="this.senitizer.bypassSecurityTrustResourceUrl(companyCover)"/></ng-template>

          <div *ngIf="!hasCompanyCover;then defaultIcon else changeLabel"></div>
        
          <ng-template #defaultIcon>
            <div #defaultIcon (click)="takeImage('cover')" class="cameraIcon">
              <ion-icon name="cloud-upload-outline"></ion-icon>
            </div>
          </ng-template>


          <ng-template #changeLabel>
            <div (click)="takeImage('cover')" class="cameraIcon">
              <ion-icon name="image"></ion-icon>
            </div>
          </ng-template>

       
      </div>
    </div>
  </div>
  <!----Header-->

  <app-text-input *ngFor="let item of items" 
                  [isOtpDisabled]="item.isOtpDisabled"
                  [labelName]="item.labelName"
                  [value]="item.value"
                  [iconName]="item.iconName"
                  [type]="item.type"
                  ></app-text-input>

</ion-content>