.select-images-button-top{

    background-color: white;
        padding: 10px;
        display: flex;
        padding-bottom: 20px;
        ion-button{
            text-transform: capitalize;
            --background: #00B0D7;
            height: 40px;
            --border-radius: 30px;
            /* margin: 0; */
            width: 100%;
            .logo-and-label-container{
                display: flex;
                flex-direction: row;
                --background: #E9E9E9;
                width: 100%;
                .logo{
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10px;
                    border-radius: 1px solid;
                    border-right: 1px solid #C4C4C4;
                }
                .label-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;
                    color:white;
                }
            }
        }
}

ion-content{
 background :white !important;
}

.example-list {
    width: 500px;
    max-width: 100%;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
  }
  
  .cdk-drag-preview {
    height: 50px;
    min-height: 60px;
    width: 500px;
    //box-sizing: border-box;
    //border-radius: 4px;
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0.5, 0.5, 0.2, 1.5);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 1350ms cubic-bezier(0.5, 0.5, 0.2, 1.5 );
  }

  ion-card{
      margin: 0;
  }

  ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
    .inner-item{
      position: relative;
      display: flex;
      flex-direction: row-reverse;
      height: 110px;
      width: 100%;
   // background: pink;

    .edition{
    //background: orange;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    width: 25%;
    .edit{
        height: 25px;
        width: 25px;
        background: white;
        border-radius: 100px;
        
    }
    
    }
    }
  }

  .car-image{
    //background: red;
    height: 100%;
    width: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-img{
        height: 100%;
    width: 100%;
    object-fit: cover;
    }
  }

  ion-thumbnail{
      --size:100px !important;
      --border-radius:10px;
    height: 90%;
    padding-left: 5px;
    width: 100%;
  }

  .small-items{
    --size:100px !important;
    --border-radius:10px;
  height: 50px !important;
  padding-right: 7px;
  width: 100px !important;
  }


  .text-label-and-icon{
    background: white;
    display: flex;
    margin-left: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    .icon-size{
      font-size: 1.5em;
      padding-right: 10px;
    }
    ion-label{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      color: rgba(0, 0, 0, 0.6);
      font-weight: 300;
    }
  }

  .no-padding{
    padding-top: 0px !important;
  }
  .no-borders{
    border: none !important;
  }

  .change-size{
    flex: 1;
    ion-label{
      color: #0084E4;
      font-size: 20px;
    }
  }

  .re-arrange{
    align-items: center;
    display: flex;
    flex-direction: column-reverse;
  }

  ion-list{
    ion-chip{
      ion-label{
        font-size: 10px;
      }
    }
  }


  //test
  .example-list {
    width: 500px;
    max-width: 90%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .wraper{
    width: 100%;
    margin-bottom: calc(30px + env(safe-area-inset-bottom));
  }