<ion-content>
  <div class="item-body">
    <ion-grid>
      <ion-row>
        <ion-col (click)="check(item,i)" size="6" *ngFor="let item of interiorColor; let i = index;">
          <ion-card [ngClass]="{selected_border : item.checked, default: item.checked==false}" class="item-body-inner">
            <div class="check-mark" *ngIf="item.checked">
              <ion-icon class="checkmark-sharp" name="checkmark-sharp"></ion-icon>
            </div>
           <ion-card [ngClass]="item.class">
            <ion-label>{{item.name}}</ion-label>
           </ion-card>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  </ion-content>