<ion-content>
<!-- Default Segment -->
<div class="segment">
<ion-segment value="a" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="a">
      <ion-label>Active</ion-label>
    </ion-segment-button>
    <ion-segment-button value="b">
      <ion-label>Inactive</ion-label>
    </ion-segment-button>
    <ion-segment-button value="c">
        <ion-label>Favorite</ion-label>
      </ion-segment-button>
      <ion-segment-button value="d">
        <ion-label>Saved</ion-label>
      </ion-segment-button>
  </ion-segment>
</div>
<ad-filter></ad-filter>
<ad-item-template></ad-item-template>
</ion-content>