<ion-content >
  <div class="login-content">
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <div class="enter-code-label color-item from-start">
            <ion-label class="low-spacing">Enter the 6-digit code</ion-label>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div class="number-view color-item from-start">
          <ion-label class="low-spacing">We’ve sent a code to <span class="colored-number">+96800000000</span></ion-label>
        </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <div class="description-view color-item from-start">
          <ion-label class="low-spacing">Enter the code in that message or </ion-label>
        </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col (click)="navigateToRegister()">
          <div class="edit-number color-item from-start">
          <ion-label class="low-spacing edit-number-label">edit number</ion-label>
        </div>
        </ion-col>
      </ion-row>

      <ion-row class="otp-number-input-container">
        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>
        

        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>


        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>



        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>



        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>



        <ion-col size="2">
          <div class="input-container-item">
            <ion-input maxlength="1" placeholder="2"></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>  
</ion-content>
     