<app-header [heading]="heading"
[filter]=true
forwardTo="/tabs/tab1"
></app-header>

<ion-content scrollEvents="false" scrollY="false">


<div class="left-right-container">
    <div class="left">
      <ion-list class="left">
        <div  [ngClass]="{'selected-filter-left-label': (item.selected==true && userData.language==='en'), 'ar': (item.selected==true && userData.language==='ar'), 'rtl':userData.language==='ar'}" (click)="selectedItem(i,item.path,item.types)" class="item-container" *ngFor="let item of filters; let i=index">
        <div class="inner-item-container">
          <ion-label *ngIf="userData.language === 'en' ">{{item.name.en}}</ion-label>
          <ion-label *ngIf="userData.language === 'ar' ">{{item.name.ar}}</ion-label>
        
          <span class="badge" *ngIf="item.badge != null && item.badge !== 0">{{ item.badge == 0 ? '' : item.badge|digitTransform:this.userData.language|async}}</span>
     
        </div>
      </div>
      </ion-list>
    </div>
   
    <div class="right" >
      <ion-router-outlet></ion-router-outlet>
    </div>

</div>
</ion-content>

<div class="bottom-button-container select-images-button">
  <div class="bottom-button-inner">
    <div class="left-button-clear" (click)="clearAll()">
 
      <ion-label>{{"Clear All" | translate}}</ion-label>
 
    </div>

<div class="right-button-apply-filters" (click)="navigate()">
  <div class="show-vehicle-button">
   
    <ion-label> {{ "Show" | translate }} {{this.filterPost.resultCount}} {{ "Vehicle" | translate }} </ion-label>
   
  </div>
   </div>
 </div>

</div>
