<app-header [heading]="heading"
             [icons]="icons"
            goBack="true"
            ></app-header>


<ion-content fullscreen="true" >
  <div #item class="select-images-button">
    <input 
    type="file"
    #fileInput
    (change)="uploadFile($event)"
    hidden="true"
    accept="image/*"
    />
    <ion-button  (click)="takeImageFromGallery()">
      <div class="logo-and-label-container">
  
        <div class="logo">
          <ion-icon src="../../assets/icon/select-images/Phone/Phone/Search.svg"></ion-icon>
        </div>
  
        <div class="label-container">
      <ion-label>{{"Select Images"}}</ion-label>
  
    </div>
    </div>
    </ion-button>
  
    <div class="re-arrange"  (click)="reorder()">
      <ion-chip [color]="chip_color">
        
        <ion-icon [color]="chip_color" [name]="arrange_icon"></ion-icon>
  
  <ion-label *ngIf="reOrder">Done</ion-label>
  <ion-label *ngIf="!reOrder">Arrange</ion-label>
  </ion-chip>
    </div>
  
  </div>
 
  
    <ion-grid *ngIf="!this.reOrder">
   
      <ion-row class='wrapper'>
        <ion-col class='container'size="6" *ngFor="let car of carImages" >
         <ion-card (click)="popImages()">
           <div class="inner-item">
             <div class="edition">
               <div class="edit h-v-centered">
                <ion-icon src="../../assets/icon/select-images/Phone/Phone/edit.svg"></ion-icon>
               </div>
               <div class="edit delete h-v-centered">
                <ion-icon src="../../assets/icon/select-images/Phone/Phone/Phone/Delete.svg"></ion-icon>
               </div>
               <div class="edit h-v-centered">
                <ion-icon name="hand-right-outline"></ion-icon>
               </div>
             </div>
             <div class="car-image">
              <ion-thumbnail>
                <img [src]="car.webPath"/>
              </ion-thumbnail>
             </div>
           </div>
         </ion-card>

        </ion-col>

  
      </ion-row>
    </ion-grid>



    <ion-list *ngIf="this.reOrder">
      <ion-reorder-group disabled="false" id="reorder" (ionItemReorder)="reorderItems($event)">
        <ion-item #element *ngFor="let item of carImages; let i=index">
          <ion-thumbnail class="small-items">
            <img [src]="item.webPath"/>
          </ion-thumbnail>

          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>


</ion-content>

<div  class="select-images-button no-padding">
  <div #bottomButton class="wraper">
  <ion-button  (click)="presentModal()">
    <div class="logo-and-label-container">

      <div class="label-container change-size">
    <ion-label>{{"NEXT"}}</ion-label>
</div>
    <div class="logo no-borders no-padding">
      <ion-icon src="../../assets/icon/select-images/Phone/Phone/Phone/arrow right.svg"></ion-icon>
  </div>
  </div>
  </ion-button>
</div>
  
</div>