<app-header 
            [heading]="heading"
            [icons]="icons"
            goBack="false"
            [isModal]="true"
            ></app-header>

<ion-content>

    <div *ngIf="data">
    <ion-list *ngIf="currentStep != 5 && currentStep != 6 && currentStep != 24 && currentStep != 25">
        <div #card_items  class="wraper">
            <ion-card  *ngFor="let item of currentItem;let i=index" class="h-v-centered" button (click)="selectItem(item,i)">
                <div class="container" [ngClass]="{selected: item.selected}" >
                <div class="name-of-item">
                    <ion-label>{{item.name}} {{item.key}}</ion-label>
                </div>
                <div class="icon-of-item">
                    <ion-thumbnail>
                        <ion-img src="../../../assets/icon/cars-icon/toyota تويوتا.png"></ion-img>
                    </ion-thumbnail>
                </div>
            </div>

            </ion-card>
        </div>
    </ion-list>

    <ion-list *ngIf="currentStep == 5 || currentStep==6" >
        <ion-grid *ngIf="currentStep == 5">
            <ion-row >
                <ion-col button (click)="selectItem(item,i)" size="4" *ngFor="let item of currentItem;let i=index">
                    <div id="main-item-container" class="main-item-container ion-activatable ripple-parent">
                        <div class="item-picture-container">
                           <ion-img src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_343,h_257,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/4f3a94f309517d480173272c101fe224/thumbnail_mobile.jpg"></ion-img> 
                          </div>
                        <div class="item-name-container">
                            <ion-label>{{item.name}}</ion-label>
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="currentStep == 6">
            <ion-row >
                <ion-col button (click)="selectItem(item,i)" size="4" *ngFor="let item of currentItem;let i=index">
                    <div id="main-item-container" class="main-item-container ion-activatable ripple-parent">
                        <div class="item-picture-container">
                           <ion-card></ion-card>
                          </div>
                        <div class="item-name-container">
                            <ion-label>{{item.name}}</ion-label>
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        
        
    </ion-list>

 
    <ion-list *ngIf="currentStep == 24"  >
      <div class="item-main-container">
          <div class="inner-container" *ngFor="let item of [1,1]">
              <div class="price-icon">
                  <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                  <div class="price-label">Price</div>
              </div>
              <div class="input-and-label-container">
                  <div class="input">
                      <ion-input maxlength="3" dir="rtl">000,</ion-input>
                  </div>
                  <div class="label">OMR</div>
              </div>
          </div>


          <div class="inner-container">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Price</div>
            </div>
            <div class="input-and-label-container">
                <div class="input">
                    <ion-input maxlength="3" dir="rtl">000,</ion-input>
                </div>
                <div class="label">
                    <ion-list>
                        <ion-radio-group value="biff">
                      
                          <ion-item>
                            <ion-label>Kilometer</ion-label>
                            <ion-radio slot="start" value="biff"></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>Mile</ion-label>
                            <ion-radio slot="start" value="griff"></ion-radio>
                          </ion-item>
                      
                        </ion-radio-group>
                      </ion-list>
                </div>
            </div>
        </div>

        <div class="inner-container">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Phone Number</div>
            </div>
            <div class="input-and-label-container">
                <div class="input input-more-width">
                    <ion-input class="phone-number-input" maxlength="9" dir="ltr"></ion-input>
                </div>
                <div class="label">
                    <ion-icon name="information-circle-outline"></ion-icon>
                </div>
            </div>
        </div>

        <div class="inner-container">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Seller Notes <span class="optional-text">(Optional)</span></div>
            </div>
            <div class="input-and-label-container">
                <div class="input input-more-width">
                   <ion-textarea>

                   </ion-textarea>
                </div>
            </div>
        </div>

      </div>
    </ion-list>

    <ion-list *ngIf="currentStep == 25">
        <app-special-plans></app-special-plans>
    </ion-list>
    
</div>

<div *ngIf="!data">
<app-vertical-list></app-vertical-list>
</div>

</ion-content>

<div *ngIf="currentStep == 24" class="select-images-button no-padding">
    <div #bottomButton class="wraper">
    <ion-button (click)="this.modelCtrl.incrementOfCurrentIndex()">
      <div class="logo-and-label-container">
  
        <div class="label-container change-size">
      <ion-label>{{"NEXT"}}</ion-label>
  </div>
      <div class="logo no-borders no-padding">
        <ion-icon src="../../assets/icon/select-images/Phone/Phone/Phone/arrow right.svg"></ion-icon>
    </div>
    </div>
    </ion-button>
  </div>
    
  </div>