<app-header 
            [heading]="heading"
            goBack="false"
            [isModal]="true">
        </app-header>

<ion-content >

    <div *ngIf="data" [ngClass]="{'markScroll': currentStep == 0 || currentStep==1 }" id="content">
    <ion-list id="list" [ngClass]="{'try': currentStep == 0 || currentStep==1}"  *ngIf="currentState.value.key  != 'body_id' && currentState.value.key !='exterior_color_id' && currentState.value.key  != 'post_type' && currentState.value.key != 'additional_features' && currentState.value.key !='features_id_array' && currentState.value.key != 'interior_color_id'">
        
        <div #card_items  class="wraper">
            <ion-card  *ngFor="let item of currentItem;let i=index" class="h-v-centered" button (click)="selectItem(item,i)">
                <div class="container" [ngClass]="{selected: item.selected}" >
                <div class="name-of-item">
                    <ion-label *ngIf="userData.language ==='en'">{{item.name.en}}</ion-label>
                    <ion-label *ngIf="userData.language ==='ar'">{{item.name.ar}}</ion-label>
                </div>
                <div class="icon-of-item">
                    <!-- no logo yet -->
                    <!-- <ion-thumbnail>
                        <ion-img src="../../../assets/icon/cars-icon/toyota_تويوتا.png"></ion-img>
                    </ion-thumbnail> -->
                   
                </div>
            </div>

            </ion-card>

          
        </div>
    </ion-list>

    <ion-list *ngIf="currentState.value.key == 'body_id' || currentState.value.key== 'exterior_color_id' || currentState.value.key== 'interior_color_id'" >
        <ion-grid *ngIf="currentState.value.key == 'body_id'">
            <ion-row >
                <ion-col button (click)="selectItem(item,i)" size="4" *ngFor="let item of currentItem ;let i=index">
                    <div id="main-item-container" class="main-item-container ion-activatable ripple-parent">
                        <div class="item-picture-container">
                           <!-- <ion-img src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_343,h_257,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/4f3a94f309517d480173272c101fe224/thumbnail_mobile.jpg"></ion-img>  -->
                        <ion-img src="http://45.79.249.189/{{item.image}}">
                           
                        </ion-img>  
                        </div>
                        <div class="item-name-container">
                            <ion-label *ngIf="userData.language ==='en'">{{item.name.en}}</ion-label>
                            <ion-label *ngIf="userData.language ==='ar'">{{item.name.ar}}</ion-label>
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid *ngIf="currentState.value.key =='exterior_color_id' || currentState.value.key=='interior_color_id'">
            <ion-row >
                <ion-col button (click)="selectItem(item,i)" size="4" *ngFor="let item of currentItem;let i=index">
                    <div id="main-item-container" class="main-item-container ion-activatable ripple-parent">
                        <div class="item-picture-container color-container" [style.background]="item.cssHex">
                           <ion-card></ion-card>
                          </div>
                        <div class="item-name-container">
                            <ion-label *ngIf="userData.language ==='en'">{{item.name.en}}</ion-label>
                            <ion-label *ngIf="userData.language ==='ar'">{{item.name.ar}}</ion-label>
                        </div>
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-list>

    <ion-list *ngIf="currentState.value.key ==='features_id_array'" >
        <div #card_items  class="wraper">
            <ion-card  *ngFor="let item of currentItem;let i=index" button class="" (click)="selectItem(item,i)">
                <!-- [ngClass]="{selected: item.selected}" -->
                <div class="container  editContainer">
                    <div class="icon-of-item">
                        <ion-checkbox mode="md" [checked]="item.selected" ></ion-checkbox>
                    </div>
                    <div class="name-of-item checkboxName">
                        <ion-label *ngIf="userData.language ==='en'">{{item.name.en}}</ion-label>
                        <ion-label *ngIf="userData.language ==='ar'">{{item.name.ar}}</ion-label>
                    </div>
               
                </div>
            </ion-card>
        </div>
        

    </ion-list>

    <ion-list *ngIf="currentState.value.key == 'additional_features'"  >
      <div class="item-main-container">
      
          <div class="inner-container" [ngClass]="{'errorborder': errorField}">
              <div class="price-icon">
                  <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                  <div class="price-label">Price</div>
              </div>
              <div class="input-and-label-container">
                  <div class="input">
                      <ion-input  (ionChange)="addPrice($event)"  type="number" [(ngModel)]="price" maxlength="3" dir="rtl"></ion-input>
                  </div>
                  <div class="label">OMR</div>
              </div>
             
          </div>
          <div class="priceError" *ngIf="errorField">
            <span>
                {{priceError}}
            </span>
          </div>

          <div class="inner-container" *ngIf="warrantyCheck">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Warranty Kilometers</div>
            </div>
            <div class="input-and-label-container">
                <div class="input">
                    <ion-input (ionChange)="addWarrantyKilo($event)" (ionFocus)="testfocus()" type="number"  [(ngModel)]="warrentyKilometer" maxlength="3" dir="rtl">000,</ion-input>
                </div>
                <div class="label">Kilometer</div>
            </div>
        </div>


          <div class="inner-container" *ngIf="distanceCheck">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Distance Travelled</div>
            </div>
            <div class="input-and-label-container">
                <div class="input">
                    <ion-input (ionChange)="addDistanceTravelled($event)" (ionFocus)="testfocus()" type="number" [(ngModel)]="distanceTraveledKilometer" maxlength="3" dir="rtl">000,</ion-input>
                </div>
                <div class="label">
                    <ion-list>
                        <ion-radio-group mode="md">

                          <ion-item>
                            <ion-label>Kilometer</ion-label>
                            <ion-radio slot="start" value="biff"></ion-radio>
                          </ion-item>
                      
                          <ion-item>
                            <ion-label>Mile</ion-label>
                            <ion-radio slot="start" value="griff"></ion-radio>
                          </ion-item>
                      
                        </ion-radio-group>
                      </ion-list>
                </div>
            </div>
        </div>

        <div class="inner-container">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Phone Number</div>
            </div>
            <div class="phoneSelected">
                <div class="phoneOnly" *ngIf="!currentState.value.selected.business_phone">
                    <div class="input input-more-width" >
                        <ion-label>+{{currentState.value.selected.primary_phone}}</ion-label>
                    </div>
                    <div class="label" *ngIf="!currentState.value.selected.business_phone">
                        <ion-icon name="information-circle-outline"></ion-icon>
                    </div>
                </div>
                <div *ngIf="currentState.value.selected.business_phone">
                  <div style="display: flex;align-items: center;">
                    <ion-item lines="none" class="input input-more-width">
                        <ion-checkbox mode="md" checked="true"></ion-checkbox>
                        <ion-label>+{{currentState.value.selected.primary_phone}}</ion-label>
                    </ion-item>
                    <ion-icon name="information-circle-outline"></ion-icon>
                  </div>
                    <ion-item lines="none" class="input input-more-width" >
                        <ion-checkbox mode="md"></ion-checkbox>
                        <ion-label>+966 60784</ion-label>
                    </ion-item>
                </div>
            </div>
        </div>

        <div class="inner-container">
            <div class="price-icon">
                <div class="icon"><ion-icon name="cash-outline"></ion-icon></div>
                <div class="price-label">Seller Notes <span class="optional-text">(Optional)</span></div>
            </div>
            <div class="input-and-label-container">
                <div class="input input-more-width">
                   <ion-textarea (ionChange)="addSellerNotes($event)" [(ngModel)]="sellerNotes" rows="6" cols="20" placeholder="Enter about this vehicle here...">
                    
                   </ion-textarea>
                </div>
            </div>
        </div>

      </div>
    </ion-list>

    <ion-list *ngIf="currentState.value.key == 'post_type'">
        <app-special-plans></app-special-plans>
    </ion-list>

  
    
</div>

<div *ngIf="!data" class="no-data-found">
<ion-label>No {{this.currentState.value.name}} available yet.</ion-label>
</div>
 <!-- this div for search bar to filter make  -->
<div class="hide" [ngClass]="{'searchInput': currentStep == 0 || currentStep==1}">
    <img src="../../../assets/icon/additional_details/VectorSearch.svg">
    <ion-input placeholder="Search..." (ionChange)="filterData($event)" [(ngModel)]="filteration">
       
    </ion-input>
</div>
<div class="select-images-button">
    <div #bottomButton class="wraper">
     <ion-button (click)="this.modelCtrl.incrementOfCurrentIndex()" *ngIf="currentState.value.key === 'additional_features' || currentState.value.key === 'features_id_array' ">
        <div class="logo-and-label-container">
    
                <div class="label-container change-size">
                    <ion-label >{{"NEXT"}}</ion-label>
                    
                </div>
                <div class="logo no-borders no-padding">
                    <ion-icon src="../../assets/icon/select-images/Phone/Phone/Phone/arrow right.svg"></ion-icon>
                </div>
        </div>
     </ion-button>
     <!-- ========== -->

     <ion-button (click)="this.modelCtrl.incrementOfCurrentIndex('updatepost')" *ngIf="currentState.value.key === 'post_type' && modelCtrl.publish!=0" >
        <div class="logo-and-label-container">
    
                <div class="label-container change-size">
                 
                    <ion-label >{{"Publish"}}</ion-label>
                </div>
                <div class="logo no-borders no-padding">
                    <ion-icon src="../../assets/icon/select-images/Phone/Phone/Phone/arrow right.svg"></ion-icon>
                </div>
        </div>
     </ion-button>

     
    </div>
    
  </div>
</ion-content>




  
  



 