ion-list{
    ion-item{
        --padding-start:10px
    }
    ion-card{
        margin: 0px;
        width: 100%;
        //background: pink;
        margin-bottom: 20px;
        height: 60px;
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 60px;
            background: conic-gradient(from 99.54deg at 0% 0%, #E8E7E7 0deg, #F4F4F4 360deg);
            
    .name-of-item{
        padding-left: 20px;
        ion-label{
            font-size: 20px;
        }
    }
    .icon-of-item{
        padding-right: 20px;
    }
        }
    }
}
ion-list{
    padding: 20px 10px 20px 10px;
}
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .selected{
    background: linear-gradient(225deg, #00DDDD 6.77%, #00ACE2 51.04%, #0092E4 90.62%) !important;
  }



  .main-item-container{
    height: 100px;
    background: conic-gradient(from 138deg at 0% 0%, #E8E7E7 0deg, #F4F4F4 360deg);
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .item-picture-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ion-img{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                height: auto !important;
                width: auto !important;
            }
        }
    }
    .item-name-container{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 5px;

        ion-label{
            font-size: 15px;
            font-size: 3.5vw;
            color: linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
            background: -webkit-linear-gradient(225deg, #00B5DD 6.77%, #0091E2 51.04%, #0084E4 90.62%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
    .clock{
        padding-top: 3px;
        display: flex;
        height: 15%;
        justify-content: flex-end;
        align-items: flex-start;
    }
}

.ripple-parent {
    position: relative;
    overflow: hidden;
  }

  .item-default-design{

        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-right: 10px;
        }

      ion-input{
        --padding-top: 0px !important; 
        --padding-end: 0px !important; 
        --padding-bottom: 0px !important;
      }
    background: #e9e8e847;;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    ion-label{
        font-size: 13px;
    font-weight: 400;
    color: 494949;
    color: #494949;
    }
  }

  .phone-input-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
      ion-textarea{
    --padding-top: 0px !important; 
     --padding-end: 0px !important; 
     --padding-bottom: 0px !important;
    }
    ion-label{
        font-size: 12px;
    }
  }

  .no-padding{
      padding: 0px !important;
  }
  .radio-button {
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background: transparent;
  }

  .select-images-button{

    background-color: white;
        padding: 10px;
        display: flex;
        padding-bottom: 20px;
        ion-button{
            text-transform: capitalize;
            --background: #E9E9E9;
            height: 40px;
            --border-radius: 30px;
            /* margin: 0; */
            width: 100%;
            .logo-and-label-container{
                display: flex;
                flex-direction: row;
                --background: #E9E9E9;
                width: 100%;
                .logo{
                    font-size: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-right: 10px;
                    border-radius: 1px solid;
                    border-right: 1px solid #C4C4C4;
                }
                .label-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-left: 10px;
                    color: #7C7A7B;
                }
            }
        }
}



  .wraper{
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
  }

  .change-size{
    flex: 1;
    ion-label{
      color: #0084E4;
      font-size: 20px;
    }
  }

  .no-padding{
    padding-top: 0px !important;
  }
  .no-borders{
    border: none !important;
  }