.ad-item-main-container{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    .car-picture{
        display: flex;
        width: 30%;

        img{
            width: 100%;
            border-radius: 8px;
        }
        //background: yellow;
    }
    .inner-container{

        display: flex;
        background: reg;
        //background: red;
        width: 100%;
        margin-left: 20px;
        border-radius: 10px;
        margin-right: 20px;
        height: 140px;
        border: 3px solid #27AF8E;

    }
}

ion-col{
    border: 1px solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 10px;
    background: #27AF8E;
    color: white;
  
    border-top-right-radius: 10px;
    .item{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .icon{
        display: flex;
    justify-content: center;
    align-items: center;
    }
}

.car-functions{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    .title{
        font-size: 14px;
        padding-top: 10px;
        font-weight: 600;    
    }
}
ion-grid{
    ion-row{

        display: flex;
        justify-content: center;
        align-items: center;
    }
}