<div class="ad-item-main-container" *ngFor="let item of posts">
  <div class="inner-container">
  <div class="car-picture">
    <img src="../../../../assets/images/New-Car-Launches-In-January-2021-1000x600.jpeg"/>
  </div>
  <div class="car-functions">
    <ion-label class="title">{{item.post_status}}</ion-label>
    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let item of [1,2,3,4]"> 
        <div class="item">
          <div class="name"> <ion-label>Name</ion-label> </div>
          <div class="icon"> <ion-icon name="bowling-ball-outline"></ion-icon>  </div>
        </div>  
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
</div>
