<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669414548208-v33052c0s2ka3eqqa4qsrg88o8llgfhr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669414548208-v33052c0s2ka3eqqa4qsrg88o8llgfhr</string>
	<key>API_KEY</key>
	<string>AIzaSyAtaN8dCr4KfVWOlmRAYFEfm4MzS7gfrxc</string>
	<key>GCM_SENDER_ID</key>
	<string>669414548208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.digitalmall</string>
	<key>PROJECT_ID</key>
	<string>dmall-7b89f</string>
	<key>STORAGE_BUCKET</key>
	<string>dmall-7b89f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669414548208:ios:426da35f7a10f2ee455835</string>
</dict>
</plist>